{% extends "base.html.twig" %}

{% block body %}
    <h1>Brews</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Extraction time</th>
            <th scope="col">Coffee</th>
            <th scope="col">Grind size</th>
            <th scope="col">Rating</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for brew in brews %}
            <tr>
                <td><a href="{{ path('show_brew', {'id': brew.id}) }}">{{ brew.startTime|date('Y-m-d H:i') }}</a></td>
                <td>{{ brew.totalBrewTime|round(2) }} s</td>
                <td>{{ brew.coffee }}</td>
                <td>{{ brew.grindSize }}</td>
                <td>{% if brew.rating %}{{ brew.rating }} / 7{% endif %}</td>
                <td>
                    <form action="{{ path('delete_brew', {'id': brew.id}) }}" method="POST">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="button" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if page > 1 %}
        <a href="{{ path('list_brews', {'page': page - 1}) }}">&laquo; Previous page</a> |
    {% endif %}
    <a href="{{ path('list_brews', {'page': page + 1}) }}">Next page &raquo;</a>
{% endblock %}
